doctype
html(lang='en')
    head
        meta(charset='utf-8')       
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title  #{title}
        link(rel="stylesheet", href="style/categories.css", attr)
    body
        main
        include forms/category-form.pug


    