form(action="" method="post")
    label(for="confirmName") enter category name 
    input#(type="text", name="confirmName") 
    label(for="confirmPass") enter your secret password
    input#(type="password", name="confirmPass")
input(type="submit", value="submit")
input(type="reset", value="reset")