doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet", href="/assets/css/style.css", attr)
        link(rel="stylesheet", href="/assets/css/bootstrap.css", attr)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut-icon", href="/assets/favicon.ico")
        title  #{title}
    body
        main
            p hello pug
            div#item.box
                each item in items
                    p.item #{item.name}
                        each category in item.categories
                            p #{category.name}