html(lang='en')
    head
        meta(charset='utf-8')       
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title  #{title}
        link(rel="stylesheet", href="/style/form.css", attr)
    body
        main
            form(action="#{signUp}", method="post") 
                label(for="username") username :
                input(type="text" name="username"  id="username-or-email"  placeholder="enter your username or email" required min=5 max=255)  
                label(for="password") password :
                input(type="password" name="password" id="user-password" required ) 
                button(type="submit") submit 
            p #{message}