html(lang='en')
    head
        meta(charset='utf-8')       
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title  #{title}
        link(rel="stylesheet", href="/style/form.css", attr)
    body
        main
            form(action="#{signUp}", method="post") 
                label(for="username") username :
                input(value=user.username type="text" name="username"  id="user-username"  placeholder="enter your username" required min=5 max=255)  
                label(for="password") password :
                input(type="password" name="password" id="user-password" required ) 
                label(for="confirmPassword") confirm password :
                input(type="password" name="confirmPassword"  id="user-confirm-password" required) 
                label(for="email") email  :
                input(type="email" name="email" user.email id="user-email"  placeholder="enter item name")
                button(type="submit") submit 
